/* scroll functionality */
/* ----------------------------------------------------- */

.scroll-down {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.scroll-down img {
    width: 19px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    border-radius: 50%;
    background-color: transparent;
    animation: bounce 1.5s infinite;
  }
  /* -------------------------------------------------- */
  .scroll-down img:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    background-color: transparent;
  }

section {
    margin-bottom: 300px;
}


#about #name {
    font-family: "Source Code Pro", monospace;
    font-weight: 400; 
    font-size: 32px;
    
}

#about {
    font-family: "Source Code Pro", monospace;
    max-width: 800px;
    margin-left: 300px;
    margin-top: 120px;
    padding: 70px;
}

#intro {
    margin-top: 40px;
    margin-bottom: 40px;
}

#second-section {
    margin-bottom: 20px ;
    margin-left: 0px;
}

#third-section {
    margin-top: 40px;
    margin-bottom: 40px;
}

#fourth-section {
    margin-top: 20px;
}

#about-btns {
    margin-top: 60px;
}

#resume-btn {
    cursor: pointer;
    font-family: "Source Code Pro", monospace;
    font-size: 15px;
    padding: 15px 30px;
    background-color: white;
    border-radius: 5px;
    border-color: #3e4a94;
    transition: transform .2s;

}

#projects-btn {
    cursor: pointer;
    font-family: "Source Code Pro", monospace;
    font-size: 15px;
    padding: 15px 30px;
    color: white;
    background-color: darkblue;
    border-radius: 5px;
    border-color: #3e4a94;
    transition: transform .2s;

}

#resume-btn:hover {
    transform: scale(1.04);
    transition: transform .2s;
}

#projects-btn:hover {
    transform: scale(1.04);
    transition: transform .2s;
}

body {
    font-family: "Source Code Pro", monospace;
    text-align: left;
    /* background-image: url("assets/images/background.jpg"); */
    background-size: auto;
}


#skills 
{  
    margin-top: 900px;
}


.subheading {
    margin-bottom: 30px;
    font-weight: 100000;
    font-size: 30px;
    text-align: center;
}

.emojis {
    margin-top: 30px;
}


.emojis img {
    width: 35px;
}

.emojis img:hover {
    transform: scale(1.1) translate(-3px);
    cursor: pointer;
}

#projects {
    margin-top: 200px;
}

.quote {
    text-align: center;
    margin-bottom: 30px;
}

#projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
}


hr {
    margin-top: 210px;
    height: 2.5px;
    background-color: black;
    border: none;
}

.project-box {
    width: 30%;
    width: 350px;
    height: 430px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.top-section {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: none;
    background-image: linear-gradient(to right, #e0e0e0 15px, transparent 15px);
    background-size: 25px 1px;
    background-repeat: repeat-x;
    background-position: bottom;
    padding-bottom: 10px;
}

.project-name {
    margin-left: 0px;
    margin-top: 13px;
    margin-bottom: 4px;
    font-size: 20px;
    color: #4a57ac;
    font-weight: bold;
}

.project-year {
    color: #4a57ac; 
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 7px;
    font-size: 15px;
}


.middle-section {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.project-screenshot {
    max-width: 100%;
    display: block;
    height:auto;
    margin: 0 auto;
    margin-bottom: 20px;
}

.project-description {
    font-size: 15px; 
    margin-bottom: 20px;;
}

.bottom-section {
    display: flex;
    border-top: none;
    margin-left: 20px;
    margin-right: 20px;
    background-image: linear-gradient(to right, #e0e0e0 15px, transparent 15px);
    background-size: 25px 1px;
    background-repeat: repeat-x;
    background-position: top;
    padding-top: 10px;
    margin-top: 30px;
}

.language {
    display: inline-block;
    margin-top: 2px;
    text-align: center;
    font-size: 13px;
    margin-left: 10px;
    padding: 4px 8px;
    height: 20px;
    border: none;
    background-color: #ddd;
    border-radius: 3px;
}

.language:first-child {
    margin-left: 0px;
}

.project-box:hover {
    transform: scale(1.03); 
    transition: transform 0.2s;
}



/* .box-container {
    margin: 10px auto;
    width: 300px;
    height: 390px;
    border: groove;
    border-width: 4px;
    border-width: px;
    border-radius: 12px;
    background: white;
} */

#media-icons { 
    margin-top: 300px;
}

.contact-icons {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.contact-icons div {
    margin: 11px;
}

.contact-icons img {
    width: 40px;
    filter: invert(21%) sepia(51%) saturate(1954%) hue-rotate(220deg) brightness(94%) contrast(87%);
}

.contact-icons img:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

/* .right-side .left_side {

    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;

} */

 


.skills-icons  {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-icons div {
    margin: 10px;
    padding: 10px;
    filter: invert(21%) sepia(51%) saturate(1954%) hue-rotate(220deg) brightness(94%) contrast(87%);
} 

.skills-icons img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.skills-icons img {
    transition: transform .2s;
    width: 45px;
    height: auto;
}

/* ----------------------------------------------------- */

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }

  html {
    scroll-behavior: smooth;
  }
  
  /* ----------------------------------------------------- */

.bullet {
    font-size: 22px;
    margin-right: 5px;
}
  